
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            background-color:rgb(0, 0, 0);
            box-sizing: border-box;

        }

        header{
            background-color:rgba(0, 0, 0, 0.874);
            padding: 6px;
            height: 20%;
            position: fixed;
            width: 100%;
        }

        header img{ 
            width: 16%;  
            float: left;  
            padding-bottom: 20%;   
        }

        header h1{
            color: #ffffff;
            text-align: center;
            padding-right: 10%;
            font-size: 70px;
            font-family: serif;
        }


        header h1:hover{
            -webkit-text-stroke: 6px;
            color: transparent;
            transition: 0.5s;
        }
        
        nav{
            background-color: rgba(0, 0, 0, 0.874);
            padding: 10px;
            position: fixed;
            width: 100%;
            height: 8%;
        }


        #actionheading:hover{
            -webkit-text-stroke: 6px;
            color: transparent;
            transition: 0.5s;
        }

        nav a{
            color: rgb(222, 147, 185);
            padding: 15px;
        
        }
        
        nav ul{
            display: flex;
            justify-content: flex-end;
            align-items: center;

        }

        nav ul li{
            list-style: none;
            text-decoration: none;
        }


        nav ul li a:hover{
            color: rgb(212, 212, 235);

        }

        nav ul li a.right{
            float: right;
        }



        .index {
            background-image: url("BAKERY\ SHOP.jpg");
            background-size: cover;
            padding: 10%;
            text-align: justify;
        }

        

        .home{
            text-align: left;
            flex-basis: 60%;
            padding: 30px 2px;
            margin-top: 20%;
    
        }

        .index h1{
            font-size: 70px;
            color:pink;
        }


        .index p1{
            font-size: 20px;
            padding: 15px;
            color: #fff;
            text-align: left;
        }

        #p1bgcolor{
            background-color: rgba(92, 63, 63, 0.812);
            border: none;
            border-radius: 100px;
            padding: 5%;
            
        }

        .index p1 a{
            padding-right: 100%;
        }
        

        #button1 {
            color: darkblue;
            background-color:#fff;
            border: none;
            border-radius: 100px;
            padding: 16px 32px;
            text-decoration: none;
            display:inline-block;
            font-size: 20px;
            margin: 4px 2px;
            transition-duration: 0.4s;

        }

        #center{
                position:relative;
                left: 130%;
                bottom: 0%;
                margin-top: 5%;
        }

        #cakecenter{
            right: 100%;
            top: 20%;
            position: relative;

        }

        #button1:hover{
            color: aliceblue;
            background-color:#282626;
            border: none;
            border-radius: 100px;
        }

        
        text-box h1 {
            width: 90%;
            color: #fff;
            position:absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            text-align: center;
            
        }
        /* our product */

        .about {
            background-image: url(BAKERY\ SHOP.jpg);  
            background-size: cover;
            padding: 0;
        }

        .about h1{
            color: white;
            text-align: center;
            font-size: 50px;
        }

        

        #aboutbox{
            width: 70%;
            margin: 10px auto;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 10px;
        }

        #aboutimage{
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .about #aboutbox #aboutimage img{
            width: 100%;
            height: 80%;
            transition: 0.3s;
        }

        .about #aboutbox #aboutimage img:hover{
            opacity: 0.3;
        }

        .about #aboutbox #aboutimage h2{
            position: absolute;
            color: #fff;
            font-size: 40px;
            text-align: center;
            opacity: 0;
            transition: 0.3s;
        }

        .about #aboutbox #aboutimage:hover h2{
            opacity: 1;

        }

        


        /* menu */

        .menu {
            background-image: url(BAKERY\ SHOP.jpg);  
            background-size: cover;
            padding: 10%;
        }

        #menubox{
            width: 95px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 15px;
            padding-left: 5%;
        }

        #menucard{
            width: 325px;
            height: 480px;
            padding-top: 10px;
            margin-bottom: 20px;
            box-shadow: 0 0 10px;
        }

        .menu h1{
            font-size: 50px;
            text-align: center;
            color: #fff;
        }

        .menu h2{
            text-align: center;
            color: #fff;
        
        }

        .menu h3{
            text-align: center;
            color: #fff;
        }


        .menu p2{
            text-align: center;
            color: #fff;
        }

        #image{
            width: 300px;
            height: 245px;
            margin: 0 auto;
            overflow: hidden;
        }

        .menu img{
            width: 100%;
            height: 100%;
            padding: 5%;
            object-fit: fill;

        }
        
        #p2bgcolor{
            background-color:rgba(12, 12, 12, 0.881);
            border: none;
            padding: 5%;
        }

        #button4 {
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            text-decoration: none;
            color: darkblue;
            background-color:#fff;
            margin: 0 80px;
            padding: 8px 10px;
        }

        
        /* register */

        .register{
            background-image:url(BAKERY\ SHOP.jpg);
            background-size: cover;
            padding: 0%;
        }

        .register th{
            text-align: left;
            background-color: rgba(207, 132, 132, 0.522);
        }
        .register th,td{
            border: 0px solid;
            padding: 20px;
        }
        .register table{
            background-color: rgba(254, 254, 254, 0.596);
            width:auto;
            height: auto;
            margin-top: 10%;
        }

        .register h2{
            text-align: center;
        }

        .int{
            text-align: center;
            size: 30px;
        }

        /* contact us */

        .contact{
            background-image: url(BAKERY\ SHOP.jpg);
            background-size: cover;
            padding: 10%;
        }

        .contact h1{
            color: #fff;
            font-size: 35px;
        }

        #contactloca{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        .contact th{
            text-align: left;
            background-color: rgba(61, 62, 64, 0.84)
        }
        .contact th,td{
            border: 0px solid;
            padding: 20px;
            color: #fff;
        }
        

        .contact table{
            background-color: rgba(0, 0, 0, 0.841);
            width:auto;
            height: auto;
            align-content:end;
            margin-top: 5%;
        }

        .contact h2{
            text-align: center;
            color: #fff;

        }

        #button2 {
            color: darkblue;
            background-color:#fff;
            border: none;
            padding: 16px 32px;
            text-decoration: none;
            display:inline-block;
            font-size: 20px;
            margin: 4px 2px;
            transition-duration: 0.4s;
            cursor: pointer;
        }

        #button2:hover{
            color: aliceblue;
            background-color:black;
            border: none;
            border-radius: 100px;
        }


        /* submmit */

        .summit video{
            position:fixed;
            right: 10%;
            top: 5%;
            z-index: -1;
        }

        .summit h1 {
            padding-top: 30%;
            text-align: center;
            color: #fff;
        }

        .summit h2 {
            text-align: center;
            color: #fff;
        }
        .summit div a{
            text-align: center;
            align-items: center;
        }

        
        #button3 { 
            color: aliceblue;
            background-color:black;
            border: none;
            padding: 16px 32px;
            text-decoration: none;
            display:inline-block;
            font-size: 20px;
            margin: 4px 2px;
            transition-duration: 0.4s;
            cursor: pointer;
            width: 30%;
        }

        #button3:hover{
            color: darkblue;
            background-color:#fff;
            border: none;
            border-radius: 100px;
        }

          /*footer  */

        .footer{
            width:25%;
            float:right;

       }
       .footer h2 {
            font-size:18px;
            font-weight:bold;
            color:#fff;
            margin-bottom:10px;
        }

        .footmenu {
            list-style:none;
            padding-left: 10px;
        }
        .footmenu li a {
            color: #fff;
            line-height: 2.5;
            font-size: 15px;
            text-decoration:none;
        }
        .social-media {
            list-style:none;
            margin-top:10px;
        }
        .social-media li a img {
            width:30px;
        }
        .social-media li {
            float:left;
            padding:0px 8px;
        }
        
        .get-in-touch {
            list-style:none;
            padding-left: 10px;
        }
        .get-in-touch li i {
            color: #ed372c;
            font-size: 20px;
        }
        .get-in-touch li {
            color: #fff;
            line-height: 2.5;
            font-size: 15px;
            text-decoration:none;
        }
        .footer-e-mail {
            font-size:15px;
            font-weight:bold;
            color:#fff;
            text-decoration:none;
        }
        .footer-website {
            font-size:12px;
            font-weight:bold;
            color:#fff;
            text-decoration:none;
        }
        .footer2 {
            background: black;
            padding:0;
            border-top: 1px solid #898989;
       }
        .footer2 p{
            font-size:14px;
            color:#fff;
            padding-left: 40%;
            text-align:left;
       }

        
            
